<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
	
	<!-- ログの出力レイアウトを変数 layoutDefine で定義 -->
	<variable name="layoutDefine"
			  value="[${longdate}] [${uppercase:${level:padding=-5}}]: ${message} ${exception:format=tostring}" />

	<!-- 書き込むターゲット -->
	<targets>
		<!-- ファイルターゲット -->
		<target xsi:type="File" name="FileOutput" fileName="FirebaseWebRtcSignaling.log" layout="${layoutDefine}" />

		<!-- Visual Studio の出力 -->
		<target xsi:type="Trace" name="TraceOutput" layout="${layoutDefine}" />

		<!-- コンソールターゲット  -->
		<target xsi:type="Console" name="ConsoleOutput" layout="${layoutDefine}" />
	</targets>

	<!-- ロガー名からターゲットにマップするルール -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="FileOutput" />
		<logger name="*" minlevel="Debug" writeTo="TraceOutput" />
		<logger name="*" minlevel="Info" writeTo="ConsoleOutput" />
	</rules>
</nlog>